
body {
  background-color: #ecfcff;
  font-family: 'Source Code Pro', monospace;
}

.jumbotron {
  padding-top: 1.8em;
  height: 150px;
  background-color: #5bd1d7;
  text-align: center;
  color: #fff;
}

.header {
  font-size: 70px;
}

.instruction-header {
  width: 100%;
  background-color: #5bd1d7;
  color: #fff;
  text-align: center;
}




/* Media Queries */

@media screen and (max-width: 935px) {
  .header {
    font-size: 45px;
    padding-top: .5em;
  }

  .jumbotron {
    height: 100px;
    padding: 0 !important;
  }
}

@media screen and (max-width: 640px) {
  .header {
    font-size: 35px;
    padding-top: .5em;
  }

  .jumbotron {
    height: 75px;
  }
}