
body {
  background-color: #ecfcff;
  font-family: 'Source Code Pro', monospace;
}

.jumbotron {
  padding-top: 1.8em;
  height: 150px;
  background-color: #5bd1d7;
  text-align: center;
  color: #fff;
}

.header {
  font-size: 70px;
}

.instruction-header {
  width: 100%;
  background-color: #5bd1d7;
  color: #fff;
  text-align: center;
}
.scoreGuess {
  padding-top: .5em;
}
.score-header {
  padding-top: 0;
}

.guessThisNumber {
  font-size: 40px;
}

.winsLosses-container {
  font-size: 30px;
  padding-top: .6em;
}

.yourScore {
  font-size: 28px;
}

.img {
  display: flex;
}

.crystal-img {
  height: 75px !important;
  width: 75px !important;
  margin-top: .6em;
  margin-left: .5em;
  margin-right: .5em;
  border-radius: 15px;
}









/* Media Queries */

@media screen and (max-width: 935px) {
  .header {
    font-size: 45px;
    padding-top: .5em;
  }

  .jumbotron {
    height: 100px;
    padding: 0 !important;
  }
}

@media screen and (max-width: 640px) {
  .header {
    font-size: 35px;
    padding-top: .5em;
  }

  .jumbotron {
    height: 75px;
  }
}